*{
    box-sizing: border-box;
    padding:0;
    margin: 0;

}
body {
    margin: 42px;
    font-family: sans-serif;
}

.nav_link {
   color: #ffb6b9
   text-decoration: none;
}
.container{
   background: #bbded6;
   padding: 5px 20px;
}
ul{
   list-style-type: none;
}
a{
    color: #ffb6b9;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.menu li{
    font-size: 16px;
    padding: 15px 5px;
}
.menu li a{
    display:block;
}
.logo a{
    font-size: 25px;
}
.nav_button.secondary{
    border-bottom: 1px #444 solid;
}

/* mobile menu */

.menu{
    display:flex;
    flex-wrap:wrap;
    justify-content:  space-between;
    align-items: center;
}

.toggle{
    order:1;
}
.nav_link.button{
    order:2;
}
.nav_link{
    width: 100%;
    text-align: center;
    order:3;
    display: none;
}
.nav_link.active{
    display: block;
}

.toggle{
    cursor:pointer;
}
.bars{
    background: #9999;
     display: inline-block;
     height: 2px;
     position: relative;
     width: 18px;
}
.bars::before,.bars::after{
    background: #9999;
    content:"";
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 18px;
}
.bars::before{
    top:5px;

}
.bars::after{
    top:-5px;
}

/*tablet menu */

@media all and (min-width:468px){
    .menu{
        justify-content: center;
    }
    .logo{
        flex:1;
    }
    .nav_link.button{
        width: auto;
        order: 1;
        display: block;
    }
    .toggle{
        order: 2;
    }
    .button.secondary{
        border: 0;
    }
    .button a{
        text-decoration: none;
        padding: 7px 15px;
        background-color: rgb(87, 143, 143);
        border: 1px solid #547474;
        border-radius: 50em;
    }
    .button.secondary a {
        background:transparent;
    }
    .button a:hover{
        transition:all .25s;
    }
    .button:not(.secondary) a:hover{
        background: #006d6d;
        border-color: #005959;
    }
    .button.secondary a:hover{
        color: #ddd;
    }
}
@media all and (min-width:768px){
    .nav_link{
        display:block;
        width: auto;
    }
    .toggle{
        display: none;
    }
    .logo{
        order: 0;
    }
    .nav_link{
        order:1;
    }
    .button{
        order: 2;
    }

    .menu li{
        padding: 15px 10px;
    }
    .menu li.button{
        padding-right:0;
    }
}